@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";
@plugin "tailwind-scrollbar";

body {
  background-color: #111828;
}

@theme {
  --color-beige: oklch(0.9636 0.0328 107);
  --color-orange: oklch(0.8645 0.1333 82.87);
  --color-green: oklch(0.7 0.1 147);
  --color-darkgreen: oklch(0.1702 0.1 147);

  --font-rubik: "Rubik", sans-serif;

  --inset-shadow-md: inset 0 2px 3px oklch(0 0 0 / 25%);
  --inset-shadow-all: inset 0 0 10px oklch(0.18 0 0 / 65%);
}

@layer utilities {
  .shadow-inset-md {
    box-shadow: var(--inset-shadow-md);
  }

  /* New utility for the uniform all-sides shadow */
  .shadow-inset-all {
    box-shadow: var(--inset-shadow-all);
  }

  @keyframes grow-in {
    0% {
      opacity: 0;
      transform: scale(0.7);
    }

    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  .animate-grow-in {
    animation: grow-in 600ms ease-out forwards;
  }

  .delay-3700 {
    animation-delay: 3700ms;
  }

  .delay-4000 {
    animation-delay: 4000ms;
  }
}