@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";
@plugin "tailwind-scrollbar";

body {
  background-color: #111828;
}

@theme {
  --color-beige: oklch(0.9636 0.0328 107);
  --color-orange: oklch(0.8645 0.1333 82.87);
  --color-green: oklch(0.7 0.1 147);
  --color-darkgreen: oklch(0.1702 0.1 147);

  --font-rubik: "Rubik", sans-serif;

  --inset-shadow-md: inset 0 2px 3px oklch(0 0 0 / 25%);
  --inset-shadow-all: inset 0 0 10px oklch(0.18 0 0 / 65%);
  --inset-shadow-all-indigo-in: inset 0 0 15px oklch(58.5% 0.233 277.117);
  --shadow-all-indigo-out: 0 0 20px oklch(58.5% 0.233 277.117);
}

@layer utilities {
  .shadow-inset-md {
    box-shadow: var(--inset-shadow-md);
  }

  /* New utility for the uniform all-sides shadow */
  .shadow-inset-all {
    box-shadow: var(--inset-shadow-all);
  }

  .shadow-indigo-in {
    box-shadow: var(--inset-shadow-all-indigo-in);
  }
  
  .shadow-indigo-out {
    box-shadow: var(--shadow-all-indigo-out);
  }

  @keyframes shadow-pulse {
    0%, 100% {
      box-shadow: var(--inset-shadow-all-indigo-in), var(--shadow-all-indigo-out);
    }
    50% {
      box-shadow: var(--inset-shadow-all-indigo-in), 0 0 25px oklch(58.5% 0.233 277.117 / 65%);
    }
  }

  .animate-shadow-pulse {
    animation: shadow-pulse 8s ease-in-out infinite;
  }

  @keyframes floaty {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-3px); /* tiny lift */
    }
  }

  .animate-floaty {
    animation: floaty 4s ease-in-out infinite;
  }

  @keyframes grow-in {
    0% {
      opacity: 0;
      transform: scale(0.7);
    }

    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  .animate-grow-in {
    animation: grow-in 600ms ease-out forwards;
  }

  .delay-3700 {
    animation-delay: 3700ms;
  }

  .delay-4000 {
    animation-delay: 4000ms;
  }
}